  :root {
    --font-stack: 'Clear Sans', sans-serif;
    --font-leading: 1.4;
    --font-base: 18px;
    --font-large: 24px;

    --spacing: 16px;
    --mock-size: 25px; /* rounded calc(var(--font-base) * var(--font-leading)) */

    --color-primary: #ea7362;
    --color-secondary: #b74242;

    --transition-duration: .2s;
  }
